.Transaction {
  margin-top: 30px;
  padding-left: 10px;
}
.Transaction > .heading {
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 10px;
}

.transactionSelection {
  margin: 0px auto;
  text-align: center;
  /* background-color: red; */
}

.transactionSelection i {
  margin-right: 5px !important;
  font-size: 18px;
}

/* 
.TransactionField{
    margin-top: 10px;
    text-align: left; 
    background-color: aqua;
} */

